@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MasterLayout</title>
    <style>
        body {
            background-color: linen;
        }

        h2 {
            color: maroon;
            margin-left: 40px;
        }
     </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
