MyFirstWebsite/bin/MyFirstWebsite.dll
MyFirstWebsite/bin/MyFirstWebsite.pdb
MyFirstWebsite/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MyFirstWebsite/obj/Debug/MyFirstWebsite.csproj.FileListAbsolute.txt
MyFirstWebsite/obj/Debug/MyFirstWebsite.csprojResolveAssemblyReference.cache
MyFirstWebsite/obj/Debug/MyFirstWebsite.dll
MyFirstWebsite/obj/Debug/MyFirstWebsite.pdb
