@using MyFirstWebsite.Models
@model MyFirstWebsite.Models.NumberModel

@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
    ViewBag.Title = "betterIndex";
}

<h2>betterIndex</h2>
<h3>@Model.Name</h3>
<h3>@Model.MyNumber</h3>


